# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
CMakeFiles

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Things we always fucked up
build/
_deps/
.vs/
../.idea/
.idea/

# Models
models/
libtorch/
.vscode/